<title>Site Maintenance</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Volveremos pronto!</h1>
    <div>
        <p>Disculpe por los inconvenientes, pero estamos trabajando para algo mejor. La página estará en mantenimiento por algunos minutos. Si necesita algo, por favor envie un correo a aldaprojects@hotmail.com.</p>
        <p>&mdash; Aldair, gracias</p>
    </div>
</article>